body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgrey;
    color:black;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: 20px;
}

#city-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.weather-info {
    text-align: center;
}


